*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

img {
  height: 100px;
}

body {
	background-image: url(https://s11.postimg.org/s5lt9xkgj/Mountain.jpg);
	background-size: cover;
}


.dropdown-links {
	display: none;
}

img .dropdown-links {
	height: 10px;
}

div {
  background-color: black;
  height:75px;
  width:25px;

}
.block {
  margin-left: 50px;
}

h1 {
  font-size: 50px;
  margin: 10px;
}
#title-page {
  display: none;
}
div, h1 {
  float:left;
  text-align: center;
}
nav {
  clear:both;
  width: 100px;
  margin: 25px;
}

main {
margin-left:150px;
float:left;
}

 ul.images li {
  display: inline-block;
}


body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

body {
margin: 0;
padding-bottom: 0;
min-height: 100%;
padding-top: 10px;
}

wrapper {
	margin: 0 auto;
  padding-top: 64px;

}

footer {
	position: absolute;
	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 1rem;
  	text-align: center;
  	word-spacing: 10px;
}
