html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, figcaption, footer, header,
menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, figcaption, figure,
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

a {
	color: black;
}

body {
	background: lightgray;
	font-family: 'Poiret One', cursive;
}

#homePage {
	background: darkgray url(images/background.jpg);
	background-size: cover;
	font-family: 'Poiret One', cursive;
}


header {
  float:left;
  text-align: center;
	width: 100%;
	margin: auto;
	border-bottom: 2px solid black;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 15px;

	.block, .transform {
				background-color: black;
				height:35px;
				width:100%;
	    }
	.postTransform {
		background-color: darkolivegreen;
		height:35px;
		width:100%;
	}

  h1 {
    font-size: 75px;
		margin: 15px;
    &#title-page {
      display: none;
      }
  }
}
nav{
		padding: 10px;

	#dropdownOne, #dropdownTwo, #dropdownThree{
		display: inline-block;
			background-color: black;
			height:15px;
			width:2px;
		}

.dropdown-links{
	display: none;
	li {
	display: inline;
	border-left: 2px solid black;
	padding: 0 10px 0 10px;
 &:first-child {
		border-left: none;
	}
}
}


.links{
	 li {
 	 display: inline;
 	 border-left: 2px solid black;
	 padding: 0 10px 0 10px;
 	&:first-child {
 		 border-left: none;
 	 }
}
}
}
main {
	margin: auto;
	text-align: center;
	h2 {
		font-size: 50px;
	}
	.mySlides img{
		height: 500px;
	}
	img {
		height: 200px;
		margin-bottom: 15px;
		box-shadow: 0 1px 7px rgba(0,0,0,0.6);
	}
	#featured-images img:hover {
		position: relative; z-index: 999; -o-transform: scale(1.03,1.03); -ms-transform: scale(1.03,1.03); -moz-transform: scale(1.03,1.03); -webkit-transform: scale(1.03,1.03); transform: scale(1.03,1.03);
	}
		li{
		display: inline-block;
		margin: 20px;
	}
}


form {
	width: 350px;
	margin: auto;
	padding: 15px;
	h3{
		font-size: 20px;
	}

.form {
		background: lightgray;
		border: none;
		border-bottom: 1px solid darkolivegreen;
		width: 300px;
		height: 35px;
		font-size: 20px;
		margin: 15px;
		font-family: 'Poiret One', cursive;
		&#message{
			height: 150px;
			width: 300px;
			resize: none
		}
		&#message::-moz-placeholder {
		  line-height:255px;
			}
		&#message::-webkit-input-placeholder {
		  line-height:255px;
			}
		&#message:-ms-input-placeholder {
			line-height:255px;
			}
	}

	.form:focus {
		outline: none;
		border-bottom: 3px solid darkolivegreen;
	}

	.form:invalid {
  color: #660000;
	}

	button:focus{
		outline: none;
		font-size: 25px;
	}
	button{
		display:none;
		background-color: lightgray;
		border: none;
		font-family: 'Poiret One', cursive;
		font-size: 20px;
	}
}

form:hover {
	button {
		margin:auto;
		display:block;
	}
}

#aboutPara{
	padding: 15px;
	width: 400px;
	margin: auto;
	p{
		margin: 15px;
	}
	img {
		width: 370px;
	}
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 4rem;
  min-height: 100%;
}

wrapper {
	margin: 0 auto;
  	padding-top: 64px;
}

footer {
	position: absolute;
	right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  word-spacing: 10px;
}
